body{
    background-color: lightgray;
}

.namestyle{
    font-size: 25px;
    font-weight: bold;
}

.agestyle{
    font-size: 20px;
    font-weight: bold;
}

.genderstyle, .breedstyle{
    font-size: 15px;
    font-weight: bold;
}